{% extends "base.html" %}

{% block content %}

<p>Your bookings</p>
<ul>
    <!-- Iterate over booking list -->
    {% for booking in booking_list %}
    <!-- Display Objects -->
    <li>{{ booking.user }}</li>
    <li>{{ booking.date }}</li>
    <li>{{ booking.time }}</li>

    <hr/>
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Bookings have been made</li>
    {% endfor %}
</ul>

{{ user.username }} 
{{ user.email }}
{{ user.first_name }} 
{{ user.last_name }} 

{% endblock content %}