{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if is_available %}
    <div class="booking-confirmation">
    <h1 class="text-uppercase text-center booking-title">Booking Confirmation</h1>

        <h4 class="text-center">Slot is available for booking. Do you want to confirm the booking?</h4>
        <ul>
            <li class="booking-li">Booking name: {{ booking.user }}</li>
            <li class="booking-li">Date: {{ booking.date }}</li>
            <li class="booking-li">Time: {{ booking.time }}</li>
        </ul>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" name="confirm">Confirm Booking</button>
        </form>
    </div>
    {% else %}
    <div class="booking-confirmation">
        <h1 class="text-uppercase text-center booking-title">Booking Confirmation</h1>

        <h4 class="text-center">This slot is already booked.</h4>
        <p class="text-center">Do you want to cancel the booking?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary text-center" type="submit" name="cancel">Cancel Booking</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}