{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Available Slots</h2>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<table class="slots-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Early Morning lesson</th>
            <th>Late morning lesson</th>
            <th>Afternoon lesson</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in available_slots %}
            <tr>
                <td class="date">{{ slot.date }}</td>
                {% for time_slot in slot.time_slots %}
                    <td class="time">{{ time_slot }}</td>
                    <td>
                        {% if time_slot.status == 'Available' %}
                        <!-- <a href="{% url 'booking_confirmation' slot %}" class="available">Book</a> -->
                        <a href="{% url 'booking_confirmation'}">Book</a>
                        {% else %}
                        <span>Not Available</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
