{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if is_available %}
    <div class="booking-confirmation">
        <h1 class="text-uppercase text-center booking-title">Booking Confirmation</h1>

        <h4 class="text-center white">Slot is available for booking. Do you want to confirm the booking?</h4>
        <div class="container-booking-card">

            <div class="row">
                <div class="col booking-li left">
                    Booking name:
                </div>
                <div class="col booking-li right">
                    {{ booking.user }}
                </div>
            </div>
            <div class="row">
                <div class="col booking-li left">
                    Date:
                </div>
                <div class="col booking-li right">
                    {{ booking.date }}
                </div>
            </div>
            <div class="row">
                <div class="col booking-li left">
                    Time:
                </div>
                <div class="col booking-li right">
                    {{ booking.time }}
                </div>
            </div>
        </div>
        <form method=" post">
            {% csrf_token %}
            <a href="{% url 'my_bookings'%}">Confirm Booking</a>

        </form>
    </div>
    {% else %}
    <div class="booking-confirmation">
        <h1 class="text-uppercase text-center booking-title">Booking Confirmation</h1>
        <div class="container-booking-card">
            <h4 class="text-center booking-li">This slot is already booked.</h4>
            <p class="text-center">Do you want to cancel the booking?</p>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-primary text-center" type="submit" name="cancel">Cancel Booking</button>
                
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}