{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="text-center">
    <h2 class="session-title text-uppercase">Book your session!</h2>
</div>
<div class="flex-column">
    <div class="rules-table">
        <div class="row flex-column-rules" id="no-padding">
            <div class="col">
                {% load static %}
                <img class="half" src="{% static 'images/woman_running.webp' %}"
                    alt="woman looking at a clock while running in the gym">
            </div>
            <div class="col">
                <div class="text-side">
                    <h4 class="booking-subtitle">
                        What you should know about your free lessons!
                    </h4>
                    <ol class="rules">
                        <li class="margin-top rules-list">
                            You have 2 free lessons per week!
                        </li>
                        <li class="rules-list">
                            You cannot book more than 2 lessons per week.
                        </li>
                        <li class="rules-list">
                            You can choose between 3 different time-slot
                        </li>
                        <li class="rules-list">
                            Below you will find all available and not available sessions
                        </li>
                        <li class="rules-list">
                            If you have to cancel for any reason do not worry, you can edit the time of your lesson or
                            delete it, from your bookings.
                        </li>
                    </ol>
                    <p class="text-uppercase">for any issues or problems please contact us</p>
                    <!-- <a href="{% url 'contact'%}"> -->
                    <a href="{% url 'contact'%}" class="btn btn-primary">Contact Us</a>
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>


    <h2 class="text-center">Available Slots</h2>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <table class="slots-table">
        <thead>
            <tr>
                <th class="booking-subtitle">Date</th>
                <th class="booking-subtitle">1st lesson</th>
                <th class="booking-subtitle">2nd lesson</th>
                <th class="booking-subtitle">3rd lesson</th>
            </tr>
        </thead>
        <tbody class="slots-body">
            {% for slot in available_slots %}
            <tr class="container-slots">
                <td class="date">{{ slot.date|date:"D d" }}</td>
                {% for time_slot in slot.time_slots %}
                {% if time_slot.status == 'Available' %}
                <td class="available"><a class="slot"
                        href="{% url 'booking_confirmation' %}?date={{ slot.date|date:'Y-m-d' }}&time={{ time_slot.time|time:'H:i' }}">{{ time_slot.time|time:"h:i A" }}</a>
                </td>
                {% else %}
                <td class="not-available"><span>Not Available</span></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

{% endblock content %}