{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="booking-confirmation text-center">
        <h1 class="text-uppercase text-center booking-title">List of your bookings</h1>
        <!-- Iterate over booking list -->
        {% for booking in booking_list %}
        <!-- Display Objects -->
        <div class="container-booking-card">
            <ul>

                <li class="booking-li">Booking name : {{ booking.user }}</li>
                <li class="booking-li">Date: {{ booking.date }}</li>
                <li class="booking-li">Time : {{ booking.time }}</li>
            </ul>
            <div class="row">
                <div class="col booking-li right">
                    <a href="{% url 'edit_booking' booking_id=booking.id %}">
                        <button class="btn btn-primary text-center">Edit</button>
                    </a>                    
                </div>
                <div class="col booking-li left">
                    <a href="{% url 'delete_booking' booking.id %}">
                        <button class="btn btn-secondary text-center">Delete</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- If object_list is empty  -->
        {% empty %}
        <div class="container-booking-card">
            <ul>
                <li class="booking-li">No Bookings have been made</li>
            </ul>
            <td>
                <a href="{% url 'booking_form'%}">
                    <button class="btn btn-primary text-center">Book here a session</button>
                </a>
            </td>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}