{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="booking-confirmation">
    <h1 class="text-uppercase text-center booking-title">Update booking</h1>

    <div class="col-md-10 offset-md-1 mt-5">
        <form method="post" autocomplete="off">
            {%csrf_token%}
            {{form|crispy}}
            <div class="form-group text-center mt-3">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'my_bookings' %}" class="btn-dark btn">Cancel</a>

            </div>
        </form>
    </div>
</div>


{% endblock %}