{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="title-container text-center">
    <div class="sm-contact-col">
        <h1 class="contact">Contact Us</h1>
        <h5>
            <!-- Please contact us for any question or issue you may have! -->
            Looking for more informations or you would like to know more about our free private lessons? 
            <hr>Submit the form
            below and one of our team spacialist will follow up on soon as possible !
            <br>
        </h5>
    </div>
</div>

<div class="contact-div">
    <div class="contact-side">
        <form action="/contact/" method="post" id="contactForm">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <div class="form-group">
                <h5>Name</h5>
                {{ form.name }}
            </div>
            <div class="form-group">
                <h5>Email</h5>
                {{ form.email }}
            </div>
            <div class="form-group">
                <h5>Subject</h5>
                {{ form.subject }}
            </div>
    </div>
    <div class="contact-side">
        <div class="form-group">
            <h5>Message</h5>
            {{ form.message }}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
    </form>
</div>

<div class="pageholder">
    <div class="titleholder">
        <div class="title-contact">
            <h3 class="text-center title-contact">Find us here!</h3>
        </div>
    </div>

    <div class="linkholder">
        <div class="mapholder">
            <div id="map"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxK-jjhfZdjKif3kMxNmtFLbWV-WOZb_c&callback=initMap&v=weekly"
                defer></script>
        </div>
    </div>
</div>
{% endblock content %}