{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <header>
    <div class=" title-container">
        <h1 class="text-center test white">Contact us!</h1>
    </div>
</header> -->
<!-- <header class="masthead contact-pic"> -->
    <div class="title-container text-center">
        <div class="sm-contact-col">
        <h1 class="test">Contact Us</h1>
        <h5> 
            Please contact us for any question or issue you may have!
            <br>
            
            <hr>
            <br>
            Please send your message below, we will get back at you at the earliest!
        </h5>
        </div>
    </div>
<!-- </header> -->

<div class="contact-div">
    <div class="contact-side">
        <form action="/contact/" method="post" id="contactForm">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <div class="form-group">
                <h5>Name</h5>
                {{ form.name }}
            </div>
            <div class="form-group">
                <h5>Email</h5>
                {{ form.email }}
            </div>
            <div class="form-group">
                <h5>Subject</h5>
                {{ form.subject }}
            </div>
    </div>
    <div class="contact-side">
        <div class="form-group">
            <h5>Message</h5>
            {{ form.message }}
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
    </form>
</div>


{% endblock content %}