{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- About-->
<section class="page-section about-section" id="about">
    <div class="container about-container">
        <div class="text-center about-section">
            <h2 class="section-heading text-uppercase" id="about-title">About Our History: Empowering Women in Fitness</h2>
            <h3 class="section-subheading text-muted-dark" id="about-subtitle">Throughout the years, our only girls gym has remained committed to
                empowering women in their fitness journeys. We continue to evolve, innovate, and create an inclusive
                space where women can thrive, supporting each other as they pursue their health and well-being goals.
            </h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/bootstrap/assets/img/about/1.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>April 2000</h4>
                        <h4 class="subheading">The Inception</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted-dark">It all started in 2000 when our only girls gym was founded by a group of
                            passionate fitness enthusiasts. Fueled by the desire to create a safe and supportive space
                            for women, the gym quickly gained popularity within the community, becoming a hub for women
                            seeking empowerment through fitness.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/bootstrap/assets/img/about/2.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2006</h4>
                        <h4 class="subheading">Expansion and Diversity</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted-dark">In 2006, our only girls gym underwent a significant expansion,
                            accommodating a growing number of members and introducing a diverse range of fitness
                            programs and classes. From cardio and strength training to yoga and dance, the gym embraced
                            a holistic approach to cater to women's varying interests and fitness goals!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/assets/images/fighting_hands_pink_circle.png"
                        alt="." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Introduction of Self-Defense Courses</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted-dark">Recognizing the importance of personal safety and empowerment, in 2015,
                            our only girls gym introduced self-defense courses. These courses provided women with
                            essential skills and techniques to protect themselves in various situations, fostering a
                            sense of confidence and empowerment both inside and outside the gym.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/assets/images/woman_listening_music_circle.png"
                        alt="woman listening music in the gym" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>February 2023</h4>
                        <h4 class="subheading">State-of-the-Art Facility</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted-dark">In 2023, our only girls gym underwent a major renovation, transforming
                            into a state-of-the-art facility. With the latest fitness equipment, interactive training
                            technologies, and modern amenities, the gym aimed to provide an unparalleled fitness
                            experience for its members. This upgrade solidified our commitment to offering women a
                            top-notch fitness environment dedicated exclusively to their needs.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4 class="white">
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

{% endblock content %}