{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'includes/messages.html' %}

<!-- https://www.youtube.com/watch?v=UGbyOSvA8rI for background-image using django and static -->
<!-- header with background image ,catchfrase and button-->
<header class="masthead home-pic" style="background-image: url('{% static 'images/woman-with-weights-compressed.webp' %}');">
    <div class="container overlay">
        <div class="masthead-subheading">Strong women lift each other up</div>
        {% if user.is_authenticated %}
        <div class="masthead-heading text-uppercase">Hi {{ user.username }}!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'booking_form' %}">Book your lesson</a>
        {% else %}
        <div class="masthead-heading text-uppercase">Let's be strong!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'register' %}">Sign Up</a>

        {% endif %}
    </div>
</header>

{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<!-- Services section with 3 highlights-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">At your Service</h2>
            <hr>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-dumbbell fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">New gym equipment</h4>
                <p class="text-muted">Our gym is equipped with the latest state-of-the-art equipment, ensuring that you
                    have access to the <strong>best tools</strong> to achieve your fitness goals.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-venus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Only girls gym</h4>
                <p class="text-muted">Choosing an only girls gym creates a supportive and inclusive environment where
                    women can <strong>feel comfortable and empowered</strong> in their fitness journey. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-shield fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Self-defence courses</h4>
                <p class="text-muted">Just for our subscribed client, we offer <strong>free self-defense</strong>
                    courses taught by
                    experienced instructors,
                    providing you with the necessary skills and confidence to navigate the world with a sense of
                    security.</p>
            </div>
        </div>
    </div>
</section>

<!-- short description -->
<section class="page-section">
    <div class="container-fluid">
        <div class="text-center paragraph">
            <h2 class="section-heading text-uppercase white small-title">Why choose us!</h2>
            <h3 class="text-muted small-paragraph">
                By joining an environment designed exclusively for women, you create a space that is free from judgment,
                allowing you to focus on your personal goals and journey. Furthermore, an only girls gym often provides
                specialized programs, equipment,
                and classes tailored to address women's unique fitness requirements, helping you achieve optimal results
                while promoting overall health and well-being. Embrace the empowering experience of an only girls gym
                and unlock your full potential in a welcoming and uplifting community.</h3>
        </div>
    </div>
</section>

<!-- https://www.youtube.com/watch?v=WXmn9lk1tgk -->
<!-- review section -->
<section class="review-section">
    <div class="rev-section">
        <h2 class="title-review">Testimonials</h2>
        <p class="note">See what our clients say about us!</p>

        <div class="reviews">
            <div class="review">
                <div class="head-review">
                    <img src="{% static 'images/woman_green_shirt.webp' %}" alt="woman with green shirt smiling" width="250">
                </div>
                <div class="body-review">
                    <div class="name-review">Daniela</div>
                    <div class="place-review">02/12/2022</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <div class="desk-review">"Fit Femme has been a game-changer for me! As a woman who always felt
                        self-conscious in traditional co-ed gyms, I finally found my sanctuary at Fit Femme. The moment
                        I walked through the doors, I felt a wave of positive energy and support from the amazing staff
                        and fellow members."</div>
                </div>
            </div>

            <div class="review">
                <div class="head-review">
                    <img src="{% static 'images/mom_hugging_child.webp' %}" alt="woman hugging her daughter" width="250">
                </div>
                <div class="body-review">
                    <div class="name-review">Maribel</div>
                    <div class="place-review">22/05/2023</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <div class="desk-review">The specialized programs and classes offered at Fit Femme are simply
                        fantastic. They understand the unique needs of women and have tailored their workouts to help us
                        achieve our goals effectively. The private self-defense classes are amazing , and very easy to book.</div>
                </div>
            </div>

            <div class="review">
                <div class="head-review">
                    <img src="{% static 'images/woman_woods.webp' %}" alt="woman looking at the camera in the woods" width="250">
                    
                </div>
                <div class="body-review">
                    <div class="name-review">Lara</div>
                    <div class="place-review">19/07/2023</div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                    <div class="desk-review">"Not only is the equipment state-of-the-art, but the trainers at HerBody
                        are true professionals. They are incredibly knowledgeable and passionate about helping women
                        succeed in their fitness journeys. Their expertise and encouragement push me to new limits, and
                        I have seen incredible results in my strength and overall physique."</div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}